* {
	padding: 0;
	margin: 0;
}
#canvas {
 	position: fixed;
 	top: 0px;
 	left: 0px;
 	z-index: -1;
	width: 100%;
	height: 100%;
}
.social-platforms {
	position: relative;
	top: 5vh;
	font-size: 1rem;
	text-align: center;
	overflow: hidden;
	min-width: 325px;
}
.social-platforms .btn {
	clear: both;
	white-space: nowrap;
	font-size: 0.85em;
	display: inline-block;
	border-radius: 5px;
	margin: 2px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	overflow: hidden;
}
.btn-icon {
  	line-height: 32px;
}
.social-platforms i {
    width: 39px;
    height: 42px;
    border-radius: 5px 0 0 5px;
    position: relative;
    text-align: center;
    font-size: 1.45em;
    color: #fff;
    background: #333333;
    float: left;
    padding: 13px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    line-height: 1em;
}
.social-platforms span {
	float: left;
    padding: 13px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    line-height: 1em;
    width: 90px;
    height: 42px;
    border-radius: 0 5px 5px 0;
    white-space: nowrap;
    color: #FFF;
}
.btn-icon > i:after {
    content: "";
    border: 8px solid;
    border-color: transparent transparent transparent #333333;
    position: absolute;
    top: 13px;
    right: -14px;
}
.social-platforms .facebook{
	background: #3b5998;
}
.social-platforms a:hover span{
	background: #b8b8b8;
}
.social-platforms a:hover .fa-facebook-f{
	color:  #3b5998;
}
.social-platforms .stackoverflow{
	background: #dd4b39;
}
.social-platforms a:hover .fa-stack-overflow{
	color:  #dd4b39;
}
.social-platforms .github{
	background: #781188;
}
.social-platforms a:hover .fa-github-alt{
	color:  #781188;
}
.social-platforms .linkedin{
	background: #007bb6;
}
.social-platforms a:hover .fa-linkedin-in{
	color:  #007bb6;
}
.section-padding {
	padding: 50px 40px 50px 40px;
}
.profile {
	background: transparent;
	width: 40%;
	color: #bac0c4;
}
.currentTime {
	color: #fff;
	margin: 0 auto;
}
.resume-wrapper {
	text-align: center;
}
.experience {
	background: #3d3e42;
	width: 60%;
	color: #bac0c4;
	font-weight: 300;
}